.gameboard {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
}

.square {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#player-form {
  width: 500px;
}

.mark {
  font-weight: 800;
  font-size: 150px;
}

.square:hover {
  background-color: beige;
}
.result {
  border: 2px solid red;
  width: 200px;
  height: 100px;
  font-size: 30px;
  background-color: aliceblue;
}

.btn {
  margin: 20px;
  padding: 10px 20px;
  background-color: green;
  color: whitesmoke;
  border-radius: 5px;
  border: 2px solid blue;
}
.hidden {
  display: none;
}
.input-field {
  background-color: greenyellow;
  color: black;
  padding: 10px 20px;
  margin: 10px;
  border: 2px solid red;
}

.status {
  border: 2px solid red;
  background-color: aqua;
  width: 400px;
}
